<section>
  <h2>The Community</h2>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, sint nobis illo, atque accusamus voluptatem rerum
    consequatur unde explicabo vitae minima cumque nesciunt placeat soluta rem aliquam! A, repellat deleniti.</p>
</section>
