<section>
  <h2>Games made on the Web, with the Web, for the Web</h2>

  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis perspiciatis sunt tempore alias consequuntur
    odit necessitatibus voluptatum at earum expedita, qui maxime dolorum, est voluptas. Cupiditate commodi nobis veniam
    accusamus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur itaque ipsum alias in nam! Veniam totam
    deserunt, ullam asperiores quidem, architecto assumenda praesentium temporibus laboriosam dicta at officia commodi
    mollitia.</p>
</section>
