---
import libraries from "../data/libraries"
---

<section>
  <h2>Libraries</h2>

  {libraries.map(library => (
  <div>
    <p><a href={library.url}>{library.name}</a> {library.tags}</p>
  </div>
  ))}
</section>
