<section>
  <h2>The Stack</h2>

  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis unde provident at eius velit, animi quisquam
    amet ab beatae esse distinctio, iusto numquam sunt porro quibusdam quo facilis. Magnam, explicabo.</p>

  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint quaerat dolorem ullam tempora ipsum fuga omnis
    soluta aperiam accusantium, quibusdam maxime molestias cum debitis eaque explicabo amet mollitia? Deleniti, eos.</p>
</section>
