---
import Card from "../components/Card.astro";
import CardGrid from "../components/CardGrid.astro";

---

<section>
  <h2>The Stack</h2>

  <CardGrid>
    <Card title="Three.js" body="3D in the browser" href="https://threejs.org" />
    <Card title="Three.js" body="3D in the browser" href="https://threejs.org" />
    <Card title="Three.js" body="3D in the browser" href="https://threejs.org" />
    <Card title="Three.js" body="3D in the browser" href="https://threejs.org" />
  </CardGrid>
</section>
