---
import Card from "../components/Card.astro";
import CardGrid from "../components/CardGrid.astro";

---

<section>
  <h2>The Stack</h2>

  <h3>Game Engines</h3>

  <p>These libraries provide most, if not all, of the functionality you need to build games in a single package.</p>

  <CardGrid>
    <Card title="Babylon.js"
      body="A fully-featured WebGL and WebGPU game engine written in and for use with TypeScript."
      href="https://www.babylonjs.com/" />
    <Card title="PlayCanvas" body="A commercial game engine providing a browser-based game authoring environment."
      href="https://playcanvas.com/" />
    <Card title="PlayCanvas Engine" body="PlayCanvas' engine core, available as Open Source (MIT License)."
      href="https://github.com/playcanvas/engine" />
    <Card title="Phaser.js" body="A WebGL-powered engine for 2D games." href="https://phaser.io/" />
    <Card title="Rogue Engine" body="A game engine on top of Three.js, providing its own downloadable editor."
      href="https://rogueengine.io/" />
  </CardGrid>

  <h3>Renderers</h3>
</section>
