---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1>Web-Made Games</h1>

  <h2>Games made on the Web, with the Web, for the Web</h2>

  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis perspiciatis sunt tempore alias consequuntur
    odit necessitatibus voluptatum at earum expedita, qui maxime dolorum, est voluptas. Cupiditate commodi nobis veniam
    accusamus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur itaque ipsum alias in nam! Veniam totam
    deserunt, ullam asperiores quidem, architecto assumenda praesentium temporibus laboriosam dicta at officia commodi
    mollitia.</p>

  <h2>The Stack</h2>

  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis unde provident at eius velit, animi quisquam
    amet ab beatae esse distinctio, iusto numquam sunt porro quibusdam quo facilis. Magnam, explicabo.</p>

  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint quaerat dolorem ullam tempora ipsum fuga omnis
    soluta aperiam accusantium, quibusdam maxime molestias cum debitis eaque explicabo amet mollitia? Deleniti, eos.</p>

  <h2>The Games</h2>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur natus iste quam nesciunt obcaecati blanditiis
    facilis reprehenderit quos ut, iusto praesentium similique sequi exercitationem nihil ea porro expedita aut labore.
  </p>

  <h2>The Community</h2>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, sint nobis illo, atque accusamus voluptatem rerum
    consequatur unde explicabo vitae minima cumque nesciunt placeat soluta rem aliquam! A, repellat deleniti.</p>
</Layout>
