---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';




---

<Layout>
  <main>
    <h1>Web-Made Games</h1>

    <ul role="list" class="link-card-grid">
      <Card href="/introduction" title="The Introduction" body="What Web-Made Games are, and why they matter." />
      <Card href="/games" title="The Games" body="Games made with the Web, on the Web, for the Web." />
      <Card href="/stack" title="The Stack" body="Engines, frameworks and libraries for creating Web-Made Games." />
      <Card href="https://astro.build/chat/" title="The Community" body="Drop by and say Hi!" />
    </ul>
  </main>
</Layout>

<style>
  h1 {
    margin: 2rem 0;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
