---
export interface Props {
  title?: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <title>{title && `${title} · `}Web-Made Games</title>
</head>

<body>
  <main role="main">
    <slot />
  </main>
</body>

</html>

<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;800&family=Inter:wght@400&display=swap');

  html {
    font: 18px/1.5 Inter, system-ui, sans-serif;
    color: #555;
    background-color: #fff;
  }

  body {
    margin: 0;
    padding: 5rem 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: Bitter, system-ui, sans-serif;
    margin: 2em 0 1em 0;
  }

  main[role="main"] {
    max-width: 800px;
    margin: auto;
  }

  h1 {
    font-size: 200%;
    color: hsl(300, 80%, 40%);
  }

  h2 {
    font-size: 150%;
    color: hsl(300, 60%, 30%);
  }

  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
